* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.header {
  background-color: #238;
  color: #fff;
  height: 5vh;
}

.nav {
  background-color: #000;
  height: 5vh;
}

.nav ul li {
  display: inline;
}

.left {
    height: 15vh;
}

.Section {
  background-color: aqua;
  width: 100%;
}

.Article {
  background-color: #655;
}

.Aside {
  background-color: #f00;
}

.Footer {
  background-color: #852;
  height: 5vh; 
}
